/*menu items*/
.menu-box{
    padding: 70px 0px;
}

.heading-title{
    margin-bottom: 50px;
}
.heading-title h2{
    color: #010101;
    font-size: 28px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.heading-title p{
    font-size: 18px;
    font-weight: 200;
    margin: 0px;
}

.inner-menu-box{}
.inner-menu-box .nav-pills .nav-link.active{
    background: #d65106;
}
.inner-menu-box .nav-pills .nav-link{
    font-size: 18px;
}
.inner-menu-box .nav-pills .nav-link:hover{
    background: #d65106;
    color: #ffffff;
}

.gallery-single{
    margin-bottom: 30px;
}

.gallery-single {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.why-text {
    position: absolute;
    left: 0;
    bottom: -100%;
    right: 0;
    height: 100%;
    padding: 12px 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.why-text h5{
    color: #ffffff;
    font-size: 25px!important;
    font-weight: 500;
}
.why-text p{
    color: #ffffff;
    font-size: 14px;
    border-bottom: 1px dashed #010101;
    margin: 0px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.why-text h5{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.gallery-single:hover .why-text{
    bottom: 0px;
}
